JWT_SECRET=secretKey

JWT_EXPIRATION=5000000

REFRESH_TOKEN_EXPIRATION=604800000

DATABASE_URL=jdbc:postgresql://localhost:5432/db_name

DATABASE_USERNAME=user
DATABASE_PASSWORD=1234

EMAIL_PASSWORD=abcd efgh ijkl mnop
EMAIL_USERNAME=me@gmail.com

stripe.secret-key=sk_test_5fsdfsdfisjdisjwqie0qw0eiasdka...


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=60000
